#headImg{
    max-width: 20%;
    max-height: 20%;
}
/* .hed{
    color: white;
    text-decoration: none;
    background-color: black;
    background-repeat:no-repeat;
    background-size: 10%;
} */
hr{
    color: white;
}